################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PayCalculator/bin/Debug/net8.0/PayCalculator.deps.json
/PayCalculator/bin/Debug/net8.0/PayCalculator.dll
/PayCalculator/bin/Debug/net8.0/PayCalculator.exe
/PayCalculator/bin/Debug/net8.0/PayCalculator.pdb
/PayCalculator/bin/Debug/net8.0/PayCalculator.runtimeconfig.json
/PayCalculator/bin/Debug/net9.0/PayCalculator.deps.json
/PayCalculator/bin/Debug/net9.0/PayCalculator.dll
/PayCalculator/bin/Debug/net9.0/PayCalculator.exe
/PayCalculator/bin/Debug/net9.0/PayCalculator.pdb
/PayCalculator/bin/Debug/net9.0/PayCalculator.runtimeconfig.json
/PayCalculator/bin/Debug/PayCalculator.1.0.0.nupkg
/PayCalculator/bin/Release/net9.0/PayCalculator.deps.json
/PayCalculator/bin/Release/net9.0/PayCalculator.dll
/PayCalculator/bin/Release/net9.0/PayCalculator.exe
/PayCalculator/bin/Release/net9.0/PayCalculator.pdb
/PayCalculator/bin/Release/net9.0/PayCalculator.runtimeconfig.json
/PayCalculator/obj/Debug/net8.0/ref/PayCalculator.dll
/PayCalculator/obj/Debug/net8.0/refint/PayCalculator.dll
/PayCalculator/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/PayCalculator/obj/Debug/net8.0/apphost.exe
/PayCalculator/obj/Debug/net8.0/PayCalculator.AssemblyInfo.cs
/PayCalculator/obj/Debug/net8.0/PayCalculator.AssemblyInfoInputs.cache
/PayCalculator/obj/Debug/net8.0/PayCalculator.assets.cache
/PayCalculator/obj/Debug/net8.0/PayCalculator.csproj.BuildWithSkipAnalyzers
/PayCalculator/obj/Debug/net8.0/PayCalculator.csproj.CoreCompileInputs.cache
/PayCalculator/obj/Debug/net8.0/PayCalculator.csproj.FileListAbsolute.txt
/PayCalculator/obj/Debug/net8.0/PayCalculator.dll
/PayCalculator/obj/Debug/net8.0/PayCalculator.GeneratedMSBuildEditorConfig.editorconfig
/PayCalculator/obj/Debug/net8.0/PayCalculator.genruntimeconfig.cache
/PayCalculator/obj/Debug/net8.0/PayCalculator.GlobalUsings.g.cs
/PayCalculator/obj/Debug/net8.0/PayCalculator.pdb
/PayCalculator/obj/Debug/net8.0/PayCalculator.sourcelink.json
/PayCalculator/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PayCalculator/obj/Debug/net9.0/apphost.exe
/PayCalculator/obj/Debug/net9.0/PayCalculator.AssemblyInfo.cs
/PayCalculator/obj/Debug/net9.0/PayCalculator.AssemblyInfoInputs.cache
/PayCalculator/obj/Debug/net9.0/PayCalculator.assets.cache
/PayCalculator/obj/Debug/net9.0/PayCalculator.csproj.BuildWithSkipAnalyzers
/PayCalculator/obj/Debug/net9.0/PayCalculator.csproj.CoreCompileInputs.cache
/PayCalculator/obj/Debug/net9.0/PayCalculator.csproj.FileListAbsolute.txt
/PayCalculator/obj/Debug/net9.0/PayCalculator.dll
/PayCalculator/obj/Debug/net9.0/PayCalculator.GeneratedMSBuildEditorConfig.editorconfig
/PayCalculator/obj/Debug/net9.0/PayCalculator.genruntimeconfig.cache
/PayCalculator/obj/Debug/net9.0/PayCalculator.GlobalUsings.g.cs
/PayCalculator/obj/Debug/net9.0/PayCalculator.pdb
/PayCalculator/obj/Debug/net9.0/PayCalculator.sourcelink.json
/PayCalculator/obj/Debug/PayCalculator.1.0.0.nuspec
/PayCalculator/obj/Debug/net9.0/ref/PayCalculator.dll
/PayCalculator/obj/Debug/net9.0/refint/PayCalculator.dll
/PayCalculator/obj/PayCalculator.csproj.nuget.dgspec.json
/PayCalculator/obj/PayCalculator.csproj.nuget.g.props
/PayCalculator/obj/PayCalculator.csproj.nuget.g.targets
/PayCalculator/obj/project.assets.json
/PayCalculator/obj/project.nuget.cache
/PayCalculator/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/PayCalculator/obj/Release/net9.0/apphost.exe
/PayCalculator/obj/Release/net9.0/PayCalculator.AssemblyInfo.cs
/PayCalculator/obj/Release/net9.0/PayCalculator.AssemblyInfoInputs.cache
/PayCalculator/obj/Release/net9.0/PayCalculator.assets.cache
/PayCalculator/obj/Release/net9.0/PayCalculator.csproj.CoreCompileInputs.cache
/PayCalculator/obj/Release/net9.0/PayCalculator.csproj.FileListAbsolute.txt
/PayCalculator/obj/Release/net9.0/PayCalculator.dll
/PayCalculator/obj/Release/net9.0/PayCalculator.GeneratedMSBuildEditorConfig.editorconfig
/PayCalculator/obj/Release/net9.0/PayCalculator.genruntimeconfig.cache
/PayCalculator/obj/Release/net9.0/PayCalculator.GlobalUsings.g.cs
/PayCalculator/obj/Release/net9.0/PayCalculator.pdb
/PayCalculator/obj/Release/net9.0/PayCalculator.sourcelink.json
/PayCalculator/obj/Release/net9.0/PublishOutputs.03dcd944a0.txt
/PayCalculator/obj/Release/net9.0/ref/PayCalculator.dll
/PayCalculator/obj/Release/net9.0/refint/PayCalculator.dll
/PayCalculatorTest/obj/PayCalculatorTest.csproj.nuget.dgspec.json
/PayCalculatorTest/obj/PayCalculatorTest.csproj.nuget.g.props
/PayCalculatorTest/obj/PayCalculatorTest.csproj.nuget.g.targets
/PayCalculatorTest/obj/project.assets.json
/PayCalculatorTest/obj/project.nuget.cache
/PayCalculatorTest/bin/*
/PayCalculatorTest/obj/*
/PayCalculator/.vs/*
